@import "resets.css";
/* this is our utility classes for flex properties*/

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.flex-grow-1 {
    flex: 1 0 0;
}

.flex-grow-2 {
    flex: 2 0 0;
}

.flex-grow-3 {
    flex: 3 0 0;
}

.flex-shrink-1 {
    flex: 0 1 auto; /*stop shrinking at whatever width normally is*/
}

.flex-shrink-2 {
    flex: 0 2 auto; /*stop shrinking at whatever width normally is*/
}

.flex-shrink-3 {
    flex: 0 3 auto; /*stop shrinking at whatever width normally is*/
}

/*gap classes*/

.gap-0 {
    gap: 0;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

/*padding utility class*/
.p-0 {
    padding: 0;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

/*margin utility classes*/


