* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #cbffcd;
    font-family: Arial, Ubuntu, sans-serif;
}

form {
    margin: 1em;
}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    padding: 1em;
    border: unset;
    background-color: white;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: .5em;
    margin-top: .5em;
    width: 100%;
}

.form-label {
    font-weight: bold;
}

.btn-block {
    width: 100%;
}

.btn {
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color: #0fb784;
    border: 1px lightgrey;
}

.form-control {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;

    /* You'll need to use the `calc` function to make the width of this element match the width of the button */
    /* See the example at: https://developer.mozilla.org/en-US/docs/Web/CSS/calc */
    /* HINT: Examples are available at: https://glitch.com/~input-button-width */
    width: 100%;
}



