li.highlight {
    background-color: yellow;
}

ul.bold {
    font-weight: 800;
}

li.blue {
    color: blue;
}

img.picture-frame {
    width: 100%;
    display: block;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid grey;
}