@import "position-lecture-base.css";

/* This is the file we will use to experiment with position */
.container {
    position: relative; /*becomes what the absolute element is looking for */
}

#item-1 {
    position: absolute;
    z-index: 99999;
    /*transition: all ease 0.3s;*/
    /*top: 0px;*/
}

/*#item-1:hover {*/
/*    top: 30px;*/
/*} for transition*/

#item-5 {
    position: absolute;
    z-index: 2;
}
