@import "../../css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-light-navy: #1D2131;
    --clr-dark-navy: #1E2232;
    --clr-light-grey: #E9EDEE;
    --clr-washed-orng: #D79A7E;
}

body {
    color: #000;
    font-family: 'Barlow', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: linear-gradient(to bottom, var(--clr-dark-navy) 50%, var(--clr-light-grey) 50%);
}

.bg {
    position: relative;
    height: 90vh;
    width: 70%;
    margin: 20vh auto;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) -50%, var(--clr-light-navy) 100%), url('../../img/pexels-markus-spiske-14384695.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: inherit;
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}

.tabLinks {
    background-color: transparent;
    padding: 8px 8px;
    border: none;
    color: inherit;
}

.tabLinks:hover {
    color: var(--clr-washed-orng);
}

.nameOfSite:hover {
    color: var(--clr-washed-orng);
}

