@import "../../css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --clr-light-navy: #1D2131;
    --clr-dark-navy: #1E2232;
    --clr-nav-blue: #2b3d54;
    --clr-light-grey: #dcdfe0;
    --clr-dark-grey: #787d8c;
    --clr-warm-yllw: #F6D54E;
}

body {
    color: #fff;
    font-family: 'Barlow', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(29, 33, 49, 0.95) 50%, var(--clr-light-grey) 50%),
    url('../../img/pexels-markus-spiske-bg3.jpg') no-repeat center bottom;
    background-size: cover;
}

.bg {
    position: relative;
    height: 100%;
    width: 70%;
    margin: 18vh auto;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) -150%, var(--clr-light-navy) 100%), url('../../img/pexels-markus-spiske-14384695.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}

button.tabLinks {
    background-color: transparent;
    padding: 8px 8px;
    border: none;
    color: inherit;
}

button.homeTab {
    display: none;
}

button.tabLinks:hover {
    color: var(--clr-light-grey);
}

h2.nameOfSite:hover {
    color: var(--clr-light-grey);
}

h1.mainText {
    margin-top: 100px;
}

.heroNav {
    margin-top: 100px;
}

.hNavCol {
    background-color: var(--clr-nav-blue);
    aspect-ratio: 2/3;
    max-height: 180px;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.hNavCol:hover {
    transform: scale(1.05);
    cursor: pointer;
}

h3.hNavCont {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 2px;
}

img.leafBlowerImg {
    margin-top: -35px;
    margin-left: -55px;
}

img.jackHammerImg {
    height: 190%;
    margin-top: -85px;
    margin-left: -130px;
}

img.chainSawImg {
    height: 120%;
    margin-top: -35px;
    margin-left: -55px;
}

p.subPTxt {
    font-size: 14px;
    font-weight: normal;
}

.redBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-warm-yllw);
    max-height: 25px;
    max-width: 25px;
}

img.playBtn {
    max-width: 100%;
    max-height: 100%;
}

img.ringSolderImg {
    max-height: 125%;
    max-width: 125%;
    margin-top: -80px;
}

h3.contactH3 {
    line-height: 1.5;
    font-weight: lighter;
    letter-spacing: 1px;
}

button.contactBtn {
    height: auto;
    max-width: 240px;
    border-color: transparent;
    background-color: var(--clr-warm-yllw);
    color: inherit;
    font-weight: normal;
    letter-spacing: 1px;
}

button.smContactBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-warm-yllw);
    height: 100%;
    max-width: 30px;
    border-color: transparent;
    margin-top: 0 !important;
    padding-right: 0;
    padding-left: 0;
}

section.contact {
    border: var(--clr-nav-blue) 5px solid;
    margin-top: 150px;
    padding: 30px 30px;
}

ul.relatedLinks {
    color: var(--clr-dark-grey);
    list-style: none;
    padding-left: 0;
}

ul.relatedLinks li {
    margin-bottom: 15px;
}

button.submitBtn {
    color: inherit;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-warm-yllw);
    border-color: transparent;
}

footer.container {
    margin-top: 90px;
}