@import "../../css/bootstrap.min.css";

:root {
    --clr-light-navy: #1D2131;
    --clr-dark-navy: #1E2232;
    --clr-light-grey: #E9EDEE;
}

body {
    color: #fff;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: linear-gradient(to bottom, var(--clr-dark-navy) 50%, var(--clr-light-grey) 50%);
}

.bg {
    position: relative;
    height: 90vh;
    width: 70%;
    margin: 20vh auto;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--clr-light-navy) 100%), url('../../img/pexels-markus-spiske-14384695.jpg');
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}

.tabLinks {
    background-color: #f2f2f2;
    padding: 8px 16px;
    border: 1px solid #ccc;
}

.tabLinks:hover {
    background-color: #ddd;
}